<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading lead">Peer evaluation for Group {{groupNumber}}
        <div align="right">
            <button ng-click="toggleInstructions()" align="right" class="btn btn-primary">{{instructionsButton}} instructions</button></div>
        </div>
            <div class="panel-heading" ng-show="showInstructions">
            For each category, choose an integer between 0 (didn't contribute at all) and 5 (outstanding in the category) to indicate how you feel that
            each team member, including yourself, performed in that category. The input fields show a control
            to change the value, but you can also just type a number in. Hover over a category heading to see additional
            information about what the category represents. You can only submit the form once, so be certain
            of your answers before clicking the Submit button.

        </div>
        <div class="panel-body">

    <form name="reviewForm" ng-submit="submitForm()">
        <table class="table">
            <tr class="thead-inverse info">
                <th width="200">Member</th>
                <th width="100" data-toggle="tooltip" title="Was prepared for meetings, completed assigned work on time">Preparation</th>
                <th width="100" data-toggle="tooltip" title="Attended team meetings and participated in online discussions">Participation</th>
                <th width="100" data-toggle="tooltip" title="When assigned a task, put significant effort into completing; worked hard to help team succeed">Effort</th>
                <th width="100" data-toggle="tooltip" title="Responded to team communications promptly and clearly; was effective in communicating with other team members">Communication</th>
                <th width="100" data-toggle="tooltip" title="Was an important part of the team; team success would have been in jeopardy without this person">Contribution</th>
                <th width="100" data-toggle="tooltip" title="An overall rating of how the person functioned within the team, taking all factors into account">Overall</th>
            </tr>

            <tr ng-repeat="member in members">
                <td width="200">{{member.firstName}} {{member.lastName}}</td>
                <td width="130"><input ng-model="member.scores[0]" required type="number" min="0" max="5" step="1"
                                       value="0"></td>
                <td width="130"><input ng-model="member.scores[1]" required type="number" min="0" max="5" step="1"
                                       value="0"></td>
                <td width="130"><input ng-model="member.scores[2]" required type="number" min="0" max="5" step="1"
                                       value="0"></td>
                <td width="130"><input ng-model="member.scores[3]" required type="number" min="0" max="5" step="1"
                                       value="0"></td>
                <td width="130"><input ng-model="member.scores[4]" required type="number" min="0" max="5" step="1"
                                       value="0"></td>
                <td width="130"><input ng-model="member.scores[5]" required type="number" min="0" max="5" step="1"
                                       value="0"></td>
            </tr>

        </table>
        <br/>
        <label>What was a difficulty that your team faced, and how was it solved?</label>
        <br/>
        <textarea rows="6" cols="100" ng-model="difficulty"></textarea>
        <p/>
        <label>What would you do differently if you were to start a new project now?</label>
        <br/>
        <textarea rows="6" cols="100" ng-model="different"></textarea>
        <p/>
        <label>Overall, do you feel that your project was a success?</label>
        <br/>
        <textarea rows="6" cols="100" ng-model="success"></textarea>
<br/>
        <button ng-show="cs411Auth" type="submit" class="btn btn-primary" value="Submit">Submit</button>
    </form>
        </div>
    </div>
</div>
